<div class="container">
  <div class="columns">
    <div class="column col-3 col-ml-auto">
      <button (click)='showJokes()' class="btn">Ny joke</button>
    </div>
  </div>
</div>

<form id="jokeform" class="hideform">
  <h2>Joken</h2>
  <div class="container">
    <div class="columns">
      <div class="column col-6">
        <label for="createdBy" class="form-label">Hvem er du?</label>
        <input class="form-input" type="text" id="createdBy">
      </div>
      <div class="column col-6">
        <label for="title" class="form-label">Joke titel</label>
        <input class="form-input" type="text" id="title">
      </div>
    </div>
    <div class="columns">
      <div class="column col-12">
        <label for="joke" class="form-label">Joken</label>
        <textarea rows=5 class="form-input" type="text" id="joke"></textarea>
      </div>
    </div>
    <div class="columns">
      <div class="column col-12">
        <label for="punchline" class="form-label">Punchline?</label>
        <input class="form-input" type="text" id="punchline">
      </div>
    </div>
    <div class="columns">
      <div class="column col-12">
        <label for="pw" class="form-label">Kodeordet</label>
        <input class="form-input" type="text" id="pw">
        <p class="form-input-hint">Spørg din lokale EDB-mand</p>
      </div>

    </div>
    <br>
    <div class="column col-4 col-ml-auto">
      <button (click)='saveJoke()' class="btn">Send joken, venner</button>
    </div>
  </div>


</form>



<div *ngFor="let joke of jokes" class="col-lg-12">

  <h4>{{joke.title}}</h4>

  <p class="bg-gray">

  </p>

  <div class="popover" style="width:100%;">

    <p class="">
      {{joke.joke}}
    </p>

    <div class="popover-container">
      <div class="card">
        <div class="card-body">
          {{joke.punchline}}
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="btn-menu">
    <span class="madeby">{{joke.createdBy}}</span>
    <button class="btn badge right" [attr.data-badge]="joke.votesUp">
      Jajajaja
    </button>
    <button class="btn badge right" [attr.data-badge]="jokes.votesDown">
      nejenjenjenj
    </button>
  </div>
  <hr>
</div>